#newBeerForm {
  margin-bottom: 15px;
}

#beerList {
  list-style-type: none;
}

#beerList div {
  background: #ececec;
  margin: 0 10px 20px 0;
  padding: 20px 15px;
  display: inline-block;
  position: relative;
}

.tracked-beer-name {
  border: none;
  background: #e0e0e0;
  cursor: pointer;
  font-size: 18px;
  padding-left: 8px;
  border-radius: 5px;
  margin: 0 5px 10px 0;
}

.remove-beer {
  text-align: right;
  margin-right: 5px;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}

a.remove-beer {
  color: #333;
}

.btn {
  padding: 2px 4px;
}

.update-beer {
  margin-left: 10px;
}

.rating-text {
  color: #fafafa;
}

.fa-star {
  color: goldenrod;
}
