<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>
<body>

<% include ../partials/nav.ejs %>

  <div class="container">
    <h1>Track Beer Here</h1>
    <form id="newBeerForm">
      <input type="text" name="beerName" placeholder="Beer Name" id="beerName">
      <select name="rating" id="beerRating">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
      </select>
      <button type="button" id="addBeerButton" class="btn btn-primary">Add Beer</button>
    </form>
    <div id="beerList"></div>
  </div>
  <script src="https://shielded-coast-63607.herokuapp.com/assets/scripts/beerTracker.js"></script>
  <!-- <script src="assets/scripts/beerTracker.js"></script> -->
</body>
</html>
