<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

<% include ../partials/nav.ejs %>

<div class="container">

  <h1>Homepage official AF.</h1>

  <p>Holla.</p>

</div>

</body>
</html>
